{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ form.instance.pk|yesno:"Editar Plato,Agregar Plato" }}{% endblock %}

{% block content %}
<section class="form-section">
  <h2>{{ form.instance.pk|yesno:"Editar Plato,Agregar Nuevo Plato" }}</h2>

  <form method="post" enctype="multipart/form-data" class="styled-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.as_p }}

    <div class="form-buttons">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a href="{% url 'core:plato_list' %}" class="btn btn-secondary">Cancelar</a>
    </div>
  </form>
</section>
{% endblock %}
